* {
    box-sizing: border-box;
    font-family: "Calibri", Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
/*.body-text {*/
/*    margin-left: 150px;*/
/*    font-size: 18px;*/
/*}*/

.header{
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    color: black;
    /*pictures settings*/
    width: 100%;
    height: 15%;
    background-color:#66757F;
    border-bottom: 2px solid red;
    /*position: sticky;*/
}
#confirmation{
    background-color: #F2D7D5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 7%;
    background-color: #8B9DC3;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 2px solid red;
    font-size: 18px;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #555;
    color: white;
}


.container {
    margin-left: 7%;
    padding: 10px;
    position:center;
    width: 93%;
    background-color: white;
    /*display : inline-block;*/
    /*border-bottom: red;*/
}
#addtask1 {
    /*margin-left: 7%;*/
    padding: 10px;
    float: left;
    width: 50%;
    background-color: white;
    display: inline-block;
}
#addtask2 {
    /*margin-left: 7%;*/
    padding: 10px;
    float: left;
    width: 50%;
    background-color: white;
    display: inline-block;
}
h1 {
    text-align: center;
    font-size: 38px;
    color: black;
}

h2 {
    color: #4c4c4c;
    font-size: 24px;
    text-align: left;
    /*padding-left: 600px;*/
}

fieldset {
    background-color: #D1F2EB ;
    float: left;
    width: 50%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display : inline-block;
    border-radius: 10px;

}
#addtask{
    height: 350px;
    background-color: #CCD6DD;
}
#addsubtask {
    height: 350px;
    background-color: #E1E8ED;
}

.column {
    float: left;
    width: 50%;
    /*padding: 10px;*/
}
/* Set width length for the left, right and middle columns */
.left {
    width: 33%;
}

.middle {
    width: 33%;
}

.right {
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

legend {
    font-size: 20px;
    background-color: gray;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.inputwhite {
    margin: 5px;
    background-color: white;
    border-radius: 10px;
}
#username, #password {
    background-color: white;
}


.button{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: white;
    border-radius: 10px;


}
button:hover{
    background-color:gray;
    color: white;
}

h3 {
    color: #4c4c4c;
    text-align: left;
    font-size: 24px;
    /*padding-left: 20px;*/
}

h4 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

p {
    color:#4e89ae;
    padding-left: 0px;
    padding-right: 25px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 25px;
    /*margin-left: 150px;*/
    line-height:0.8;
}


table {
    font-family: "Calibri", Courier, monospace;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid white;
    /*border: 1px solid #dddddd;*/
    text-align:center;
    padding: 8px;
}

tr {
    background-color: white;
}
#titles{
    background-color: #dddddd;
}

td a {
    display: inline-table;
    border: 1px solid #dddddd;
    text-align:center;
    /*padding: 8px;*/
    /*width: 50%;*/
    padding: 0;

}

tr:nth-child(even) {
    background-color: #dddddd;/*alternate color in the table*/
}

input[type=text] {
    /*width: 100%;*/
    padding: 2px 2px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    /*margin: 4px 0;*/
    /*box-sizing: border-box;*/
}
input[type=number] {
    /*width: 100%;*/
    padding: 2px 2px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    /*margin: 4px 0;*/
    /*box-sizing: border-box;*/
}
input[type=date] {
    /*width: 100%;*/
    padding: 2px 2px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    /*margin: 4px 0;*/
    /*box-sizing: border-box;*/
}
input[type=submit] {
    /*width: 100%;*/
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #dddddd;
    margin: 4px;
    /*box-sizing: border-box;*/
}

