<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="alfa.css">
<div lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>add_task</title>
    </head>
    <body>
    <header>
        <div class="header">
            <h1>Tasks/Subtasks management</h1>
        </div>
    </header>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="mailto:contact@fff.dk">Contact</a></li>
        <li><a href="mailto:support@fff.dk">Support</a></li>
    </ul>
    <!--TASK-->

    <div class="container">
        <span style="color: red" th:text="${errorMsg != null} ? ${errorMsg} "></span>
        <fieldset style="width: 30%" id="addtask">
            <legend>Add a task</legend>
            <form method="post" action="/add_task" th:object="${task}">
                <label>Task number post fix:</label>&nbsp;
                <input type="number" min="1" step="1" th:field="*{taskNo}"  />
                <br><br>
                <label>Task name:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" required th:field="*{name}" maxlength="45" />
                <br><br>
                <label>Start date:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="date" required th:field="*{startDate}" />
                <br><br>
                <label>Finish date:</label>&nbsp;&nbsp;&nbsp;
                <input type="date" th:field="*{finishDate}" />
                <br><br>
                <label>Duration:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="number" value="0" th:field="*{duration}" />
                <br><br>

                <button class="button" type="submit" name="addtask" >Save task</button>&nbsp;&nbsp;&nbsp;&nbsp;

            </form>
            <br>
            <form name="cancel" action="/dashboard" method=get>
                <button class="button" type="submit" >cancel</button>
            </form>
        </fieldset>


        <!--SUB_TASK-->
        <fieldset style="width:70%" id="addsubtask">
            <legend>Add a subtask</legend>
            <form method="post" action="/add_task" th:object="${task}">
            <div class="row">
                <div class="column" style="width: 30% ">

                        <!--    dropdown-->
                        <select th:field="*{subTaskToName} ">
                            <label>Choose if any Task above:</label>
                            <option  th:each="p : ${listTitler}" th:value="${p.getName()}" th:text="${p.getName()}" />
                        </select>

                        <br><br>
                        <label>Subtask no prefix:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="number" step="1" required th:field="*{taskNo}"  />
                        <br>
                        <br>

                        <label>Subtask name:</label>&nbsp;
                        <input type="text" required th:field="*{name}" maxlength="45" />
                        <br>
                        <br>
                        <label>Start date:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="date" required th:field="*{startDate}" />
                        <br>
                        <br>
                        <label>Finish date:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="date" th:field="*{finishDate}" /><br><br>
                    <button class="button" type="submit" name="addsubtask" >Save subtask</button>
                </div>

                <br><br>

                <div class="column" style="width: 30% ">
                    <label>Time consumption(h):</label>&nbsp;
                    <input type="number"  required min="1" step="1"  th:field="*{taskTimeconsumption}" />
                    <!--                <br><br><br><br>-->
                    <br><br>
                    <label>Subtask duration:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="number" value="0" th:field="*{duration}" />
                    <br><br>
                    <label>Persons on subtask:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="number" th:field="*{noOfPersons}" />
                    <br><br>
                    <label>Hours/day/person:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="number" step="0.01" th:field="*{workingHoursDay}" />
                    <br><br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            </form><br>

            <form name="cancel" action="/dashboard" method=get>
                <button class="button" type="submit" >cancel</button>
            </form>
        </fieldset>
    </div>
    </body>
</div>
</html>

