<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="alfa.css">
<!--<div lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>error_create_project_finishdate</title>
</head>
<body>
<header >
    <div class="header" id="errorheader">
        <h1>Project name error page</h1>
    </div>
</header>
<ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="mailto:contact@fff.dk">Contact</a></li>
    <li><a href="mailto:support@fff.dk">Support</a></li>
</ul>
<div class="container">

    <fieldset style="width: 100%;">
        <legend style="color: red; background-color: white; border: 2px solid black"> Error: Projectname already exist!!</legend>
        <br>


<form method="post" action="/create_project" th:object="${pojotransfer}">


    <br>
    <!--    textfield String type-->
    <label>Type a new projectname:</label>
    <input type="text" th:field="*{projectName}" placeholder="projectname"/>
    <br>

    <!--    textfield String type-->
    <!--    <label>Type a ownername:</label>-->
    <!--    <input type="text" th:field="*{ownerName}"placeholder="ownername"/>-->
    <br>

    <!--    textfield Date type-->

    <!--    Button-->
    <button class="button" type="submit" name="getvalue">Try again</button>&nbsp;
    <form name="cancel" action="/create_project" method=get>
        <button class="button" type="submit" >cancel</button>
    </form>

</form>
    </fieldset>
</div>

</body>
</html>