<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="alfa.css">
<div lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dashboard</title>
</head>
<body>
<header>
    <div class="header">
    <h1>Dashboard</h1>
    </div>
</header>
<ul>

    <li><a href="/logout">Log out</a></li>
    <li><a href="mailto:contact@fff.dk">Contact</a></li>
    <li><a href="mailto:support@fff.dk">Support</a></li>
</ul>

<div class="container">

    <fieldset style="width: 100%">
        <legend>Project Name</legend>
               <form name="gotocreation" action ="/create_project" method="get">
                <button class="button" >Create new project</button>
            </form>
<br>
        <form name="gotodeleteproject" action ="/delete_project" method="get">
            <button class="button">Delete project</button>
        </form>
    <br>
        <form name="refreshprojectlist" action ="/dashboard" method="get">
            <button class="button">Refresh list</button>
        </form>
    </fieldset>
    <br>
    <br>
    <br>

<fieldset style="width: 100%">
    <legend>Projects List</legend>

<!--<div id="container" class="container">-->
    <div th:if="${not #lists.isEmpty(projects)}">

    <table class="table" style="width:100%" align="Center">



<!-- <th>Edit</th>-->
        <tr id="titles">
            <th colspan="2">Id</th>
            <th>Name</th>
            <th>Owner</th>
            <th>StartDate</th>
            <th>Deadline</th>
        </tr>

        <tbody align="center">
        <tr th:each="projects : ${projects}">

            <td><a  th:href="${'localhost:8080/edit_project?projectId='+ projects.projectId}" cellpadding = "5">Edit No:</a></td>
            <td><span th:text="${projects.projectId}"> Id</span></td>
            <td><span th:text="${projects.projectName}">Name</span></td>
            <td><span th:text="${projects.ownerName}">Owner Name</span></td>
            <td><span th:text="${projects.startDate}">StartDate</span></td>
            <td><span th:text="${projects.deadlineDate}">Deadline</span></td>
        </tr>
        </tbody>
    </table>
    </div>

</fieldset>



</div>
</body>
</div>
</html>
