<!--TM, MS, TL-->
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="alfa.css">
<!--<div lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>editproject</title>
</head>
<body>
<header>
    <div class="header">
        <h1>Edit project management</h1>
    </div>
</header>
<ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/logout">Log out</a></li>
    <li><a href="mailto:contact@fff.dk">Contact</a></li>
    <li><a href="mailto:support@fff.dk">Support</a></li>
</ul>

<div class="container">
    <br>

    <fieldset style="width: 100%">
        <legend>Edit project</legend>
        <br>
        <form name="gotodeletetask" action ="/view_hours_per_day" method="get">
            <button class="button" >Show hours</button>
        </form>
        <br>

        <form name="gotoaddtask" action ="/add_task" method="get">
            <button class="button" >Add new task</button>
        </form>
        <br>
        <form name="gotoedittask" action ="/edit_task" method="get">
            <button class="button" >Edit Task</button>

        </form>
        <br>
        <form name="gotodeletetask" action ="/delete_task" method="get">
            <button class="button" >Delete task</button>
        </form>
        <br>
        <br>
        <form name="cancel" action="/dashboard" method=get>
            <button class="button" type="submit" >cancel</button>
        </form>
        <br>
    </fieldset>
    <br>
    <br>



    <table class="table" style="width:100%" align="Center">
        <thead>
        <tr id="titles">
            <th>No</th>
            <th>Task no</th>
            <th>Task name</th>
            <th>Duration</th>
            <th>Start date</th>
            <th>Finished date</th>
            <th>Timeconsumption</th>
            <th>No of persons</th>
            <th>Working hours per day</th>
        </tr>
        </thead>


        <tbody align="center">
        <tr th:each="taskss : ${tasks}">
            <td><span th:text="${taskss.getLineCounter()}">No </span></td>
            <td><span th:text="${taskss.getTaskNo()}">Task no </span></td>
            <td><span th:text="${taskss.getName()}">Task name </span></td>
            <td><span th:text="${taskss.getDuration()}">Duration </span></td>
            <td><span th:text="${taskss.getStartDate()}">Start date </span></td>
            <td><span th:text="${taskss.getFinishDate()}">Finished date </span></td>
            <td><span th:text="${taskss.getTaskTimeconsumption()}">timeconsumption </span></td>
            <td><span th:text="${taskss.getNoOfPersons()}">Number of persons </span></td>
            <td><span th:text="${taskss.getWorkingHoursDay()}">Workinghoursperday </span></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</div>
</html>