<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="alfa.css">
<!--<div lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>deletetaskconfirmation</title>
</head>
<body>
<header>
    <div class="header" id="confirmation">
        <h1>You are required to confirm your deletion</h1>
    </div>
</header>
<ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/logout">Log out</a></li>
    <li><a href="mailto:contact@fff.dk">Contact</a></li>
    <li><a href="mailto:support@fff.dk">Support</a></li>
</ul>

<div class="container">
    <fieldset style="width: 100%">
        <legend style="color: red; background-color: white; border: 2px solid black">Caution: Deleting task!</legend>
        <br>
        are you sure you want to delete task number:  <span th:text="${task.getTaskNumber}"></span> and all its associated subtasks?


        <form name="delete_task" action="/delete_task_confirmation" method=POST>

            <br>
            <button class="button" type="submit" >Yes, please delete!</button>
        </form>
        <br><br>

        <form name="cancel" action="/delete_task" method=GET>

            <button class="button" type="submit" >No, please cancel</button>
        </form>
    </fieldset>

</div>
</body>
</html>