<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="alfa.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>add_task</title>
</head>
<body>
    <header>
        <div class="header">
            <h1>Add task</h1>
        </div>
    </header>
<ul>
    <li><a href="/dashboard2">Dashboard</a></li>
    <li><a href="/logout">Log out</a></li>
    <li><a href="mailto:contact@fff.dk">Contact</a></li>
    <li><a href="mailto:support@fff.dk">Support</a></li>
</ul>
    <br>
<!--TASK-->
    <div class="container">
        <br>
        <table cellspacing="100" cellpadding="100"><tr> <td>
        <fieldset style="width:50%">
            <legend>Add a task</legend>
                <form method="post" action="/add_task" th:object="${task}">
                    <h1>Add task</h1>
                    <label>Task no</label>
                    <input type="number" min="1" step="0.01" th:field="*{taskNo}"  />
                    <br><br>
                    <label>Task name:</label>
                    <input type="text" required th:field="*{name}" maxlength="45" />
                    <br><br>
                    <label>Start date:</label>
                    <input type="date" required th:field="*{startDate}" />
                    <br><br>

                    <label>Finish date:</label>
                    <input type="date" th:field="*{finishDate}" />
                    <br><br>
                    <label>Duration:</label>
                    <input type="number" value="0" th:field="*{duration}" />
                    <br><br><br>

                    <input type="submit" name="addtask" value="Save task">
                    <input type="submit" name="cancel" value="Back">
                    <br><br><br>
                </form>
        </fieldset>
        </td>
<!--    </div>-->

<!--    <div class="container">-->
        <br>
        <td>
        <fieldset style="width:50%">
            <legend>Add a subtask</legend>

            <!--SUB_TASK-->

            <form method="post" action="/add_task" th:object="${task}">
                <h1>Add subtask</h1>
                <!--    dropdown-->
                <select th:field="*{subTaskToName} ">
                    <label>Choose if any Task above:</label>
                    <option th:each="p : ${listTitler}" th:value="${p.getName()}" th:text="${p.getName()}" />
                </select>

                <br><br>
                <label>Subtask no:</label>
                <input type="number" required th:field="*{taskNo}"  />
                <br><br>
                <label>Subtask name:</label>
                <input type="text" required th:field="*{name}" maxlength="45" />
                <br><br>
                <label>Start date:</label>
                <input type="date" required th:field="*{startDate}" />
                <br><br>
                <label>Time consumption(h):</label>
                <input type="number"  required min="1" step="1"  th:field="*{taskTimeconsumption}" />
                <br><br><br><br>
                <label>Finish date:</label>
                <input type="date" th:field="*{finishDate}" />
                <br><br>
                <label>Duration:</label>
                <input type="number" value="0" th:field="*{duration}" />
                <br><br><br><br>
                <label>Persons on subtask:</label>
                <input type="number" th:field="*{noOfPersons}" />
                <br><br>
                <label>Working hours/day/person:</label>
                <input type="number" step="0.01" th:field="*{workingHoursDay}" />
                <br><br><br>

                <input type="submit" name="addsubtask" value="Save subtask">
                <input type="submit" name="cancel" value="Back">
            </form>
        </fieldset>
        </td>
        </tr>
        </table>

    </div>
</body>
</html>