<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>add_task</title>
</head>
<body>
    <h1>Add tasks and Subtasks</h1>
    <br>
    YOUR FINISHDATE IS BEFORE STARTDATE, CHANGE THE DATE(S)!!
<!--TASK-->
    <form method="post" action="/add_task" th:object="${task}">
        <h1>Add task</h1>
        <label>Task no</label>
        <input type="text" th:field="*{taskNo}"  />
        <br><br>
        <label>Task name:</label>
        <input type="text" required th:field="*{name}" maxlength="45" />
        <br><br>
        <label>Start date:</label>
        <input type="date" required th:field="*{startDate}" />
        <br><br>

        <label>Finish date:</label>
        <input type="date" th:field="*{finishDate}" />
        <br><br>
        <label>Duration:</label>
        <input type="number" value="0" th:field="*{duration}" />
        <br><br><br>

        <input type="submit" name="addtask" value="Save task">
        <input type="submit" name="cancel" value="Back">
        <br><br><br>
    </form>

<!--SUB_TASK-->
    <form method="post" action="/add_task" th:object="${task}">
        <h1>Add subtask</h1>
        <!--    dropdown-->
        <select th:field="*{subTaskToName} ">
            <label>Choose if any Task above:</label>
            <option th:each="p : ${listTitler}" th:value="${p.getName()}" th:text="${p.getName()}" />
        </select>

        <br><br>
        <label>Subtask no:</label>
        <input type="number" required th:field="*{taskNo}"  />
        <br><br>
        <label>Subtask name:</label>
        <input type="text" required th:field="*{name}" maxlength="45" />
        <br><br>
        <label>Start date:</label>
        <input type="date" required th:field="*{startDate}" />
        <br><br>
        <label>Time consumption(h):</label>
        <input type="number"  required min="1" step="1"  th:field="*{taskTimeconsumption}" />
        <br><br><br><br>
        <label>Finish date:</label>
        <input type="date" th:field="*{finishDate}" />
        <br><br>
        <label>Duration:</label>
        <input type="number" value="0" th:field="*{duration}" />
        <br><br><br><br>
        <label>Persons on subtask:</label>
        <input type="number" th:field="*{noOfPersons}" />
        <br><br>
        <label>Working hours/day/person:</label>
        <input type="number" th:field="*{workingHoursDay}" />
        <br><br><br>

        <input type="submit" name="addsubtask" value="Save subtask">
        <input type="submit" name="cancel" value="Back">
    </form>
</body>
</html>