<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="alfa.css">
<!--<div lang="en" xmlns:th="http://www.thymeleaf.org/">-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>projectcreation</title>
    </head>
    <body>
    <header>
        <div class="header">
            <h1>Create project</h1>
        </div>
    </header>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="mailto:contact@fff.dk">Contact</a></li>
        <li><a href="mailto:support@fff.dk">Support</a></li>
    </ul>

    <div class="container">
        <br>

        <fieldset>
            <legend>Create a project</legend>
            <br>
    <form method="post" action="/create_project" th:object="${pojotransfer}">

    <!--    textfield String type-->
    Type projectname:
    <input type="text" th:field="*{projectName}" placeholder="projectname"/>
    <br>

    <!--    textfield String type-->
    <label>Type ownername:</label>
    <input type="text" th:field="*{ownerName}"placeholder="ownername"/>
    <br>

    <!--    textfield Date type-->
    <label>Type in startDate:</label>
    <input type="date" th:field="*{startDate}" placeholder="yyyy-MM-dd"/>
    <br>
    <br>
    <!--    Button-->
    <input type="submit"  value="Create project" name="getvalue" >

</form>
        </fieldset>
    </div>

</body>
</div>
</html>