<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="alfa.css">
<div lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>deleteproject</title>
    </head>
    <body>
    <header>
        <div class="header">
            <h1>Tasks management</h1>
        </div>
    </header>
    <ul>
        <li><a href="/dashboard2">Dashboard</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="mailto:contact@fff.dk">Contact</a></li>
        <li><a href="mailto:support@fff.dk">Support</a></li>
    </ul>

    <div class="container">
        <br>
        <fieldset>
            <legend>Caution: Deleting task!</legend>
            <br>
    <form name="delete_task" action="/delete_task" method=POST>

        Write task number, that you wish to remove.<br>
        <input type="number" id="Task_number" step="0.01" name="Task_number">

        <br>
<!--        Write Project from which you would like to delete task.-->
<!--        <input type="number" id="Project_ID" step="1" name="Project_ID">-->
        <br>
        <button class="button" input type="submit">Delete task"</button>
    </form>
        </fieldset>
    </div>

</body>
</div>
</html>