<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--    <link rel="stylesheet" type="text/css" href="style.css"/>-->
<!--    <link rel="stylesheet" type="text/css" href="style.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<header id="pageheader" >
    <div>
        <div class="indexheader">
            <h id="h1index">Login page</h>

            <div class="gotologin">
                <form name="gotologin" action ="/login" method="get">
                    <button class="button tologbutton">Log ind</button>
                </form>
            </div>
        </div>
    </div>
</header>
<br>
<br>


<h2 id="h2intro">
</h2>

<br>
<br>


<div class="gotoregistration">
    <form name="gotoregistration" action ="/registration2" method="get">
        <button class="button toregbutton">Opret bruger</button>
    </form>
</div>
<br>
<br>

<footer>
    <div id="footer_info">
        <div class="footer">
            <!--    <p style="font-size: 24px">Kontakt per </p>-->
            <a href="mailto:support@discreetlove.nu">kontakt os</a>
        </div>
    </div>
</footer>



</body>
</html>