<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div id="logincenter">
    <div class="center">

        <form name="login" action="/login" method=POST>

            Brugernavn:<br>
            <input type="text" id="email" name="email">
            <br>
            <br>
            Adgangskode:<br>
            <input type="text" id="password" name="password" >
            <br>
            <br>
            <input type="Submit" value="  Log ind!  ">
        </form>
    </div>
</div>
</body>
</html>