<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/alfa.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>

</head>
<body>
<div class="container">
    <div class="row">
<h1>Project Overview</h1>
<br>
<h2></h2>

        <form>
<!--<form th:action="@{/project_overview}" method="post">-->
    <fieldset>
        <legend>Project Name</legend>
    <input type="text"  value="Go to project No:" name="knapnavn" id="project">
        <legend>Project Id</legend>
        <input type="number"  value="Go to project No:" name="" id="id">

        <button type="button" id="create">Create Project
        </button>
        <button type="button" id="delete">Delete Project
        </button>
        <button type="button" id="list">Refresh Project
        </button>
    </fieldset>
</form>


<div id="container" class="container">
    <div th:if="${not #lists.isEmpty(projects)}">



    <table class="table" style="width:100%" align="Center">
        <thead>
        <tr>
            <th>Project Id</th>
            <th>Name</th>
            <th>Project Owner</th>
            <th >StartDate</th>


        </tr>
        </thead>

        <tbody align="center">
        <tr th:each="project : ${projects}">
            <td><a href="/edit_project.html"> <span title="Edit project"
                      th:text="${project.projectId}">Id </span></a></td>
            <td contenteditable="true"><span th:text="${project.name}">Name</span></td>
            <td contenteditable="true"><span th:text="${project.ownerName}">Owner Name</span></td>
            <td contenteditable="true"><span th:text="${project.startDate}">StartDate</span></td>

        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>


</body>
</html>
