<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" type="text/css" href="style.css">-->
    <title>Registrering side</title>
</head>
<body>
<header id="pageheader" >

    <div>
        <div class="indexheader">
            <a href="/"></a>
            <h id="h1index">Opret profil</h>

        </div>
    </div>
</header>
<h1> Her kan du oprette et profil! </h1>
<br>
<br>
<div >
    <div class="center">
        <table>
            <td>
                <form  name="register" action="/registration1" method=POST th:object="${user}" >

                    <br>
                    Tast din email:<br>
                    <input type="text" name="email" value="">
                    <br>
                    <br>
                    Vælg et password:<br>
                    <input type="password" name="password1" value="">
                    <br>
                    <br>
                    bekræft dit password:<br>
                    <input type="password" name="password2" value="">
                    <br>
                    <br>


                    <input type="submit" value="Create account">
                </form>
            </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>