<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="alfa.css">
<div lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registration page</title>
    </head>

    <body>

    <header>
        <div class="header">
            <h1>User management</h1>
        </div>
    </header>
    <ul>

        <li><a href="/index">Welcome page</a></li>
        <li><a href="mailto:contact@fff.dk">Contact</a></li>
        <li><a href="mailto:support@fff.dk">Support</a></li>
    </ul>

    <div class="container">
        <br>
        <form  name="register" action="/registration2" method="post" th:object="${user}" >
<!--        <form  name="register" action="/registration2" method=get th:object="${user}" >-->
        <fieldset>
            <legend>Create a user</legend>
            <br>
            <br>
                    Type your username:<br>
                    <input type="text" name="username" value="">
                    <br>
                    <br>
                    Choose a password:<br>
                    <input type="password" name="password1" value="">
                    <br>
                    <br>
                    Confirm your password:<br>
                    <input type="password" name="password2" value="">
                    <br>
                    <br>

                    <button type="submit" class="button">Create account</button>

        </fieldset>
        </form>
    </div>
</body>
</div>
</html>