<!--MS, EB-->
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="alfa.css">
<div lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>registration_user_management</title>
</head>

    <body>

    <header>
        <div class="header">
            <h1>User Management</h1>
        </div>
    </header>
    <ul>

        <li><a href="/">Index</a></li>
        <li><a href="mailto:contact@fff.dk">Contact</a></li>
        <li><a href="mailto:support@fff.dk">Support</a></li>
    </ul>

    <div class="container">
        <span  style="color: red" th:text="${errorMsg != null} ? ${errorMsg} "></span>
        <br>


        <fieldset style="width: 100%; height: 350px" >
            <legend>Create a user</legend>
            <form  name="register" action="/registration2" method="post" th:object="${user}" >
            <br>
                    Type your username:<br>
                    <input class="inputwhite" required type="text" name="username" value="">
                    <br>
                    Choose a password:<br>
                    <input class="inputwhite" required type="password" name="password1" value="">
                    <br>
                    Confirm your password:<br>
                    <input class="inputwhite" required type="password" name="password2" value="">
                    <br>
                    <br>
                    <button type="submit" class="button">Create account</button>
            </form>

            <br>

        <form name="cancel" action="/logout" method=get>
            <button class="button" type="submit" >cancel</button>
        </form>
        </fieldset>
    </div>
</body>
</div>
</html>